/* font-family: 'Bungee Spice', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Roboto Serif', serif;
font-family: 'Teko', sans-serif; */
body{
    background-image: url(https://img.freepik.com/free-photo/movie-background-collage_23-2149876028.jpg?size=626&ext=jpg&ga=GA1.1.1925166422.1679348846&semt=ais) ;
    background-size: cover;
}
h1{
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    color:gold;
    font-weight: bolder;
    text-align: center;
    
}
h2{
    font-size: 20px;
    font-family: 'Dancing Script', cursive; 
    color: gold;
    text-align: center;
}
.frame{
    display: flex;
    width: 60%;
    height: 70vh;
    align-items: center;
    margin-left: 20%;
    border-color: gold;
    font-size: 100px;
}
